form{
  background-color: rgba(5, 130, 168, 0.788);
  width: 60vw;
  margin: 0 auto;
  border-radius: 10px;
  text-align: center;
  height: 40vh;
  color: white;
}
input{
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
button{
  margin-top: 15px;
  margin: 10px;
}
